// Common Xcode settings for AAX SDK example plug-in projects
//
// These example settings may be used as a basis for your own
// custom project configuration settings.
//
// Coyright 2020-2021 Avid Technology, Inc.

GCC_VERSION = com.apple.compilers.llvm.clang.1_0
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.11
ARCHS = x86_64 arm64
VALID_ARCHS = x86_64 arm64
ONLY_ACTIVE_ARCH = NO

HEADER_SEARCH_PATHS = $(AAX_SDK_ROOT)/Interfaces $(AAX_SDK_ROOT)/Interfaces/ACF $(AAX_SDK_ROOT)/Extensions/GUI $(AAX_SDK_ROOT)/Extensions/MIDI $(AAX_SDK_ROOT)/Extensions/Platform/include $(AAX_SDK_ROOT)/Extensions/Topology $(AAX_SDK_ROOT)/TI/SignalProcessing
LIBRARY_SEARCH_PATHS = "$(AAX_SDK_ROOT)/Libs/$(CONFIGURATION)"
ALWAYS_SEARCH_USER_PATHS = NO
GCC_PREFIX_HEADER = $(AAX_SDK_ROOT)/ExamplePlugIns/Common/Mac/CommonPlugInHeaders.pch
GCC_PREPROCESSOR_DEFINITIONS = _NDEBUG=1 "JUCE_ObjCExtraSuffix=$(PRODUCT_NAME)"
ZERO_LINK = NO
WRAPPER_EXTENSION = aaxplugin

AAX_SDK_ROOT = $(SRCROOT)/../../../..

CURRENT_YEAR = 2019
AVID_COMPANY_STRING = Avid Technology, Inc.
AVID_COPYRIGHT = Copyright 1991-$(CURRENT_YEAR) $(AVID_COMPANY_STRING)

DYLIB_CURRENT_VERSION = 1.0
DYLIB_COMPATIBILITY_VERSION = 1.0

INFOPLIST_FILE = Info.plist
INFOPLIST_PREPROCESSOR_DEFINITIONS = "PRODUCT_NAME=$(PRODUCT_NAME)" "EXECUTABLE_NAME=$(EXECUTABLE_NAME)" "DYLIB_CURRENT_VERSION=$(DYLIB_CURRENT_VERSION)" "VERSION_NUM=$(DYLIB_CURRENT_VERSION)" "VERSION_STR=$(DYLIB_CURRENT_VERSION)" "CURRENT_YEAR=$(CURRENT_YEAR)" "AVID_COPYRIGHT=$(AVID_COPYRIGHT)" "AVID_COMPANY_STRING=$(AVID_COMPANY_STRING)"

INFOPLIST_PREPROCESS = YES

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_USE_GCC3_PFE_SUPPORT = YES
GCC_OPTIMIZATION_LEVEL = 3
GCC_REUSE_STRINGS = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_ENABLE_SSE3_EXTENSIONS = YES
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
OTHER_LDFLAGS = -Xlinker "-headerpad" -Xlinker 1500
DEAD_CODE_STRIPPING = YES
COPY_PHASE_STRIP = YES
GENERATE_PKGINFO_FILE = YES

DEBUG_INFORMATION_FORMAT = dwarf

KEEP_PRIVATE_EXTERNS = NO 
SEPARATE_SYMBOL_EDIT = NO 
DEAD_CODE_STRIPPING = YES 
ONLY_LINK_ESSENTIAL_SYMBOLS = YES 
LINKER_DISPLAYS_MANGLED_NAMES = NO 
LINKER_DISPLAYS_FILES_FOR_UNDEFINED_SYMBOLS = YES 
GENERATE_MASTER_OBJECT_FILE = NO 
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global 
COPY_PHASE_STRIP = YES 
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_ENABLE_SYMBOL_SEPARATION = YES 
GCC_SYMBOLS_PRIVATE_EXTERN = YES 
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES 
DEPLOYMENT_POSTPROCESSING = YES
SEPARATE_STRIP = YES 
STRIPFLAGS = -x -S

CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++0x
